<!DOCTYPE html>
<html>
<head>
  <title>Add New Volunteer</title>
  <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
  <div class="container"> 
    <h1>Add New Volunteer</h1>
    <form action="/addVolunteer" method="POST">
      </form>
  </div>
</body>
</html>
